.main {
    text-align: center;
    padding: 20px;
  }
  
  .intro {
    margin-top: 20px;
  }
  
  .image {
    max-width: 100%; /* Set maximum width to 100% of its container */
    height: auto; /* Maintain the aspect ratio */
    display: block; /* Remove any default inline styles */
    margin: 0 auto; /* Center the image within its container */
  }
  
  Button {
    margin: 20px;
    background-color: #0056b3;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .butt:hover {
    background-color: #007bffad;
  }
  